:root {
  --header-height: 9.75rem; /* 156px */
  --wrapper-max-width: 69.375rem; /* 1110px */
  --wrapper-padding-x:  1.5rem; /* 24px */
}

header {
  min-height: var(--header-height);
  background: url('./assets/bg-header.svg');
  background-color: var(--desaturated-dark-cyan);
  object-fit: contain;
}

.container {
  background-color: var(--light-grayish-cyan-bg);
  height: calc(100vh - var(--header-height));
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: var(--wrapper-max-width);
  padding: 0 var(--wrapper-padding-x);
}
